
.container {

}


.row > div {
	border:3px solid black;
}


.row1 {
	display:inline-block;
}

.row2 {
	display:inline-block;
}

.row3 {
	display:inline-block;
}



div .row >div {
	background-color:lightgray;
	width:100px;
	height:100px;
	border:3px solid black;
	display:flex;
}


